@model QuestionVM;
@{
    ViewData["Title"] = "Manage Questions";
}
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-justify" id="exampleModalLongTitle"> </h5>

            </div>
            <div class="modal-body">
                <div id="results" typeof="submit" style="overflow:hidden; ">
                    <form method="post" id="frmCreate" class="text-justify">
                        <input type="number" id="sId" name="sId" value="0" hidden />
                        <div class="row">
                            <div class="col">
                                <label class="control-label"> @localizer["NameAr"]</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" name="NameAr" placeholder="Enter NameAr" required>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="control-label"> @localizer["NameEn"]</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="nameEnInput" aria-describedby="emailHelp" name="NameEn" placeholder="Enter NameEn" required>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12 col-sm-12'>
                            <div class='form-group'>
                                <label for='IndustryId'> Industry  </label>
                                <select name="IndustryId" class="form-control" asp-items="@(new SelectList(@Model.IndustryIdList, "Value", "Text"))"></select>
                                <small id='IndustryId' class='form-text text-muted'>  </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="control-label">Actions</label>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary form-control">
                                        <i class="fa fa-money"></i>Create
                                    </button>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnSecondary" data-dismiss="modal" onclick="hideModel()"> </button>
                @*<button type="button" class="btn btn-primary btnConfirm" id="btnPrimary"> </button>*@
            </div>
        </div>
    </div>
</div>

@* End Modal*@


<div class="border p-3 mt-4" style="width:100%; overflow-x:scroll;">
    <div class="row pt-4   ">
        <div class="col-10">
            <h2 class=" "> @localizer["Questions"] </h2>
            <button class="btn btn-primary btnAction ">  <i class="fa fa-plus"></i> Create</button>

        </div>
    </div>
    <br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    NameAr
                </th>
                <th>
                    NameEn
                </th>
            </tr>

        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/coding/Question.js"></script>
}