@model CustomerVM;

<button class="tablink" onclick="openPage('customerData', this, 'red')" id="defaultOpen">Customer Data</button>
<button class="tablink" onclick="openPage('contacts', this, 'green')">Contacts</button>
<button class="tablink" onclick="openPage('additionalInfo', this, 'blue')">Additional Informations</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>
<!-- customerData -->
<div id="customerData" class="tabcontent">
    <form id="frmCreateCsutomer">
        <div class="row  ">
            <div class="col-6">
                <h3 class="text-primary"> Customer </h3>
            </div>
        </div>
        <div class="row">
            <input type='Text' class='form-control' id='customerId' name='CustomerId' value="0" hidden>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='NameAr'> NameAr  </label>
                    <input type='Text' class='form-control' id='NameAr' aria-describedby='NameAr' name='NameAr' placeholder='Enter NameAr' required>
                    <small id='NameAr' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='NameEn'> NameEn  </label>
                    <input type='Text' class='form-control' id='NameEn' Enia-describedby='NameEn' name='NameEn' placeholder='Enter NameEn' required>
                    <small id='NameEn' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='WareHouse'> WareHouse  </label>
                    <input type='Text' class='form-control' id='WareHouse' aria-describedby='WareHouse' name='WareHouse' placeholder='Enter WareHouse' required>
                    <small id='WareHouse' class='form-text text-muted'>  </small>
                </div>
            </div> 
        </div>

        <div class="row">

            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='Group'> Group </label>
                    <select name="GroupId" class="form-control" asp-items="@(new SelectList(@Model.GroupList, "Value", "Text"))"></select>
                    <small id='Group' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='Representive'> Representive </label>
                    <select name="RepresentiveId" class="form-control" asp-items="@(new SelectList(@Model.RepresentiveList, "Value", "Text"))"></select>
                    <small id='Representive' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='Industry'> Industry </label>
                    <select name="IndustryId" class="form-control" asp-items="@(new SelectList(@Model.IndustryList, "Value", "Text"))"></select>
                    <small id='Industry' class='form-text text-muted'>  </small>
                </div>
            </div>

        </div>
        <div class="row">

            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='Area'> Area </label>
                    <select name="AreaId" class="form-control" asp-items="@(new SelectList(@Model.AreaList, "Value", "Text"))"></select>
                    <small id='Area' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='CustomerType'> CustomerType </label>
                    <select name="CustomerTypeId" class="form-control" asp-items="@(new SelectList(@Model.CustomerTypeList, "Value", "Text"))"></select>
                    <small id='CustomerType' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='Status'> Status </label>
                    <select name="StatusId" class="form-control" asp-items="@(new SelectList(@Model.LastStatusList, "Value", "Text"))"></select>
                    <small id='StatusId' class='form-text text-muted'>  </small>
                </div>
            </div> 
        </div> 

        <div class="row">
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label for='StartDate'> StartDate  </label>
                    <input type='date' class='form-control' id='StartDate' aria-describedby='StartDate' name='StartDate' required>
                    <small id='StartDate' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label>  Location </label>
                    <button type="button" class="btn btn-primary form-control  "> Assign Location </button>
                </div>
            </div>
            <div class='col-md-4 col-sm-12'>
                <div class='form-group'>
                    <label> Actions </label>
                    <button type="submit" class="btn btn-primary form-control   "> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- customerContacts -->
<div id="contacts" class="tabcontent">
    <form id="frmCreateCsutomerContact">
        <div class="row">
            <div class="col-6">
                <h3 class="text-primary"> Contacts </h3>
            </div>
        </div>
        <div class="row">
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label for='Title'> Title </label>
                    <select name='Title' class='form-control' required></select>
                    <small id='Title' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label for='NameAr'> NameAr  </label>
                    <input type='Text' class='form-control' id='NameAr' Enia-describedby='NameAr' name='NameAr' placeholder='Enter NameAr' required>
                    <small id='NameAr' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label for='NameEn'> NameEn  </label>
                    <input type='Text' class='form-control' id='NameEn' Enia-describedby='NameEn' name='NameEn' placeholder='Enter NameEn' required>
                    <small id='NameEn' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label for='Phone'> Phone  </label>
                    <input type='Text' class='form-control' id='Phone' Enia-describedby='Phone' name='Phone' placeholder='Enter Phone' required>
                    <small id='Phone' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label for='Position'> Position </label>
                    <select name='Position' class='form-control' required></select>
                    <small id='Position' class='form-text text-muted'>  </small>
                </div>
            </div>
            <div class='col-md-2 col-sm-12'>
                <div class='form-group'>
                    <label> Actions </label>
                    <button type="submit" class="btn btn-primary form-control"> Save </button>
                </div>
            </div>
        </div>
    </form>
    <!-- Table -->
    <div class="border p-3 mt-4" style="width:100%; overflow-x:scroll;">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary"><i class=" btn btn-outline-primary fas fa-plus"></i>  Contacts </h2>
            </div>
        </div>
        <br />
        <table id="tblDataCustomerContacts" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Periority</th>
                    <th>PhoneNo</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="additionalInfo" class="tabcontent">
    <div class="row  ">
        <div class="col-6">
            <h3 class="text-primary"> Additional Informations </h3>
        </div>
    </div>
    <div class="row  ">

        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Rate'> Rate </label>
                <select name='Rate' class='form-control' required></select>
                <small id='Rate' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='TaxNumber'> Tax Number  </label>
                <input type='Text' class='form-control' id='TaxNumber' aria-describedby='TaxNumber' name='TaxNumber' placeholder='Tax Number' required>
                <small id='TaxNumber' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label> Actions </label>
                <button type="submit" class="btn btn-primary form-control"> Save </button>
            </div>
        </div>
    </div>
</div>

<div id="About" class="tabcontent">
    <h3>About</h3>
    <p>Who we are and what we do.</p>
</div>



@section Scripts {
    <script src="~/js/coding/customer.js"></script>
}